/* Din Rounded */

@font-face {
    font-family: DINRounded;
    src: url(../fonts/DINNextRoundedLTPro-Regular.otf);
}

@font-face {
    font-family: DINRoundedLight;
    src: url(../fonts/Linotype-DINNextRoundedLTPro-Light.otf);
}

/* Din Slab */

@font-face {
    font-family: DINSlabitalic;
    src: url(../fonts/DINNextSlabPro-Italic.otf);
}

@font-face {
    font-family: DINSlabregular;
    src: url(../fonts/DINNextSlabPro-Regular.otf);
}

@font-face {
    font-family: DINSlabLightItalic;
    src: url(../fonts/DINNextSlabPro-LightItalic.otf);
}

@font-face {
    font-family: DINSlabLight;
    src: url(../fonts/DINNextSlabPro-Light.otf);
}

@font-face {
    font-family: DINSlabMedium;
    src: url(../fonts/DINNextSlabPro-Medium.otf);
}

@font-face {
    font-family: DINSlabMediumItalic;
    src: url(../fonts/DINNextSlabPro-MediumIt.otf);
}

/* Tungsten Rounded */

@font-face {
    font-family: TungstenRndLight;
    src: url(../fonts/TungstenRnd-Light.otf);
}

@font-face {
    font-family: TungstenRndBook;
    src: url(../fonts/TungstenRnd-Book.otf);
}

@font-face {
    font-family: TungstenRndMedium;
    src: url(../fonts/TungstenRnd-Medium.otf);
}
