/* Typeface Variables
____________________________________ */

/* Tungsten Round */
$tungsten-round-light: "TungstenRndLight", sans-serif;
$tungsten-round-book: "TungstenRndBook", sans-serif;
$tungsten-round-medium: "TungstenRndMedium", sans-serif;

/* Din Rounded */
$din-round: "DINRounded", sans-serif;
$din-round-light: "DINRoundedLight", sans-serif;

/* Din Slab */
$din-slab-regular: "DINSlabregular", sans-serif;
$din-slab-italic: "DINSlabitalic", sans-serif;
$din-slab-light: "DINSlabLight", sans-serif;
$din-slab-light-italic: "DINSlabLightItalic", sans-serif;
$din-slab-medium: "DINSlabMedium", sans-serif;
$din-slab-medium-italic: "DINSlabMediumItalic", sans-serif;
